/* WidgetPageGlobal */
* {
  padding: 0;
}

/* defined variables */
:root {
  --backgroundColor: #000000;
  --buttonColor: #ca7a7a;
  --cardColor: #000000;
  --borderOutline: solid;
  --headerWeight: bold;
  --borderStyle: .3em;
  --font: Roboto;
  --fontStyle: normal; 
  --fontColor: #ffffff;
  --fontSize: 12px;
  --fontAlignment: justify;
  --imageCrop: contain;
  --titleCard: hidden;
  --priceCard: hidden;
  --descCard: hidden;
  --ctaCard: hidden;
  --fontWeight: normal;
  --defaultheight: 500px
}
