* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333331;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
